@import url('https://fonts.googleapis.com/css?family=Merriweather:900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@media(max-width: 320px),
(min-width: 321px),
(max-width: 599px) {

    .container {
        display: grid;
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: 70px 40px auto 40px;
        grid-template-areas: 
        "header header header header header header"
        "nav nav nav nav nav nav"
        "main main main main main main"
        "footer footer footer footer footer footer";
    }
    
    /* Header */
    
    .header {
        display: flex;
        grid-area: header;
        justify-content: center;
        color: #43467F;
        font-family: 'Merriweather', serif;
        font-size: 17px;
    }

    header h1 {
        margin: 20px 0 0 0;
    }

    .logo {
        height: 75px;
        margin: 0;
    }

    .nav {
        display: flex;
        grid-area: nav;
        background: #B3B5CB;
        margin: 20px 1em -30px 1em;
        border-radius: 20px;;
    }

    .nav ul {
        display: flex;
        list-style-type: none;
        padding: 0;
    }

    .nav ul a {
        margin: 15px 15px 15px 1.5em;
        padding: 5px;
        background: #43467F;
        color: white;
        padding: 5px 15px;
        border-radius: 15px;
        text-decoration: none;
    }

    .nav ul a:hover {
        background: #1C2260;
    }
    
    /* Content */
    
    .main {
        display: flex;
        flex-direction: column;
        grid-area: main;
        margin: 30px 0 0 0;
    }

    .quote1 {
        text-align: center;
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        margin: 20px auto 5px auto;
    }

    .quote2 {
        text-align: center;
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        margin: 5px auto 20px auto;
    }

    .article {
        margin: 0.75em 0.75em 0 0.75em;
        padding: 2px 16px;
        font-family: 'Open Sans', sans-serif;
    }

    .article-title {
        color: #43467F;
        margin: 0 0 20px 0;
        font-family: 'Merriweather', serif;
    }

    .profile-picture {
        height: 50px;
    }

    .date-published {
        color: #B3B5CB;
        margin: 2px 0 0 0;
    }

    .author {
        color: #B3B5CB;
        margin: 2px 0 0 0;
    }

    .picture-of-ocean {
        height: 150px;
        display: block;
        margin: 0 auto;
    }
    
    /* Footer */
    
    .footer {
        display: flex;
        grid-area: footer;
        align-items: flex-end;
        margin: 0 0 0 1.5em;
        color: #43467F;font-family: 'Merriweather', serif;

    }

}

@media(min-width: 600px) and (max-width: 900px) {
    
    .container {
        display: grid;
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: 70px 40px auto 40px;
        grid-template-areas: 
        "header header header header header header"
        "nav nav nav nav nav nav"
        "main main main main main main"
        "footer footer footer footer footer footer";
    }
    
    /* Header */
    
    .header {
        display: flex;
        grid-area: header;
        justify-content: center;
        color: #43467F;
        font-family: 'Merriweather', serif;
        font-size: 20px;
    }

    header h1 {
        margin: 20px 0 0 0;
    }

    .logo {
        height: 100px;
        margin: -10px 0 0 0;
    }

    .nav {
        display: flex;
        grid-area: nav;
        background: #B3B5CB;
        margin: 20px 1em -30px 1em;
        border-radius: 20px;;
    }

    .nav ul {
        display: flex;
        list-style-type: none;
        padding: 0;
    }

    .nav ul a {
        margin: 15px 15px 15px 1.5em;
        padding: 5px;
        background: #43467F;
        color: white;
        padding: 5px 15px;
        border-radius: 15px;
        text-decoration: none;
    }

    .nav ul a:hover {
        background: #1C2260;
    }
    
    /* Content */
    
    .main {
        display: flex;
        flex-direction: column;
        grid-area: main;
        margin: 30px 0 0 0;
    }

    .quote1 {
        text-align: center;
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        margin: 20px auto 5px auto;
    }

    .quote2 {
        text-align: center;
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        margin: 5px auto 20px auto;
    }

    .article {
        margin: 0.75em 0.75em 0 0.75em;
        padding: 2px 16px;
    }

    .article-title {
        color: #43467F;
        margin: 0 0 20px 0;
        font-family: 'Merriweather', serif;
    }

    .profile-picture {
        height: 50px;
    }

    .date-published {
        color: #B3B5CB;
        margin: 2px 0 0 0;
    }

    .author {
        color: #B3B5CB;
        margin: 2px 0 0 0;
    }

    .picture-of-ocean {
        height: 250px;
        display: block;
        margin: 0 auto;
    }

    /* Footer */
    
    .footer {
        display: flex;
        grid-area: footer;
        align-items: flex-end;
        margin: 0 0 0 1.5em;
        color: #43467F;
        font-family: 'Merriweather', serif;
    }
}

@media(min-width: 901px) {

    .container {
        display: grid;
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: 70px 40px auto 40px;
        grid-template-areas: 
        "header header header header header header"
        "nav nav nav nav nav nav"
        "main main main main main main"
        "footer footer footer footer footer footer";
    }
    
    /* Header */
    
    .header {
        display: flex;
        grid-area: header;
        justify-content: center;
        color: #43467F;
        font-family: 'Merriweather', serif;
        font-size: 20px;
    }

    header h1 {
        margin: 20px 0 0 0;
    }

    .logo {
        height: 100px;
        margin: -10px 0 0 0;
    }

    .nav {
        display: flex;
        grid-area: nav;
        background: #B3B5CB;
        margin: 20px 1em -30px 1em;
        border-radius: 20px;;
    }

    .nav ul {
        display: flex;
        list-style-type: none;
        padding: 0;
    }

    .nav ul a {
        margin: 15px 15px 15px 1.5em;
        padding: 5px;
        background: #43467F;
        color: white;
        padding: 5px 15px;
        border-radius: 15px;
        text-decoration: none;
    }

    .nav ul a:hover {
        background: #1C2260;
    }
    
    /* Content */
    
    .main {
        display: flex;
        flex-direction: column;
        grid-area: main;
        margin: 30px 0 0 0;
    }

    .quote1 {
        text-align: center;
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        margin: 20px auto 5px auto;
    }

    .quote2 {
        text-align: center;
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        margin: 5px auto 20px auto;
    }

    .article {
        margin: 0.75em 0.75em 0 0.75em;
        padding: 2px 16px;
    }

    .article-title {
        color: #43467F;
        margin: 0 0 20px 0;
        font-family: 'Merriweather', serif;
    }

    .profile-picture {
        height: 50px;
    }

    .date-published {
        color: #B3B5CB;
        margin: 2px 0 0 0;
    }

    .author {
        color: #B3B5CB;
        margin: 2px 0 0 0;
    }

    .picture-of-ocean {
        height: 400px;
        display: block;
        margin: 0 auto;
    }
    
    /* Footer */
    
    .footer {
        display: flex;
        grid-area: footer;
        align-items: flex-end;
        margin: 0 0 0 1.5em;
        color: #43467F;
        font-family: 'Merriweather', serif;
    }
}